<div class="container mt-5">
    <h2 class="mb-4">Employee Search</h2>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchId" placeholder="Enter Employee ID">
    </div>
    <button class="btn btn-primary mt-4" (click)="searchEmployee()">Search</button>
  
    <div *ngIf="employees.length > 0" class="mt-4">
      <h3>Employee List</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Anual Salary</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_salary }}</td>
            <td>{{ employee.employee_anual_salary }}</td>
            <td>{{ employee.employee_age }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="employees.length === 0 && errorMsg == ''" class="mt-4">
      <p>No employees found.</p>
    </div>

    <div *ngIf="errorMsg != ''" class="mt-4">
        <p class="text-danger">Error: {{errorMsg}}</p>
    </div>
</div>  