<div class="contenedor-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img style="width: 150px; margin-left: 2rem;" src="../assets/logo.png" alt="logo"></a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search Employees</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet/>
  </div>
</div>